.Weather {
  padding: 16px;
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border: 2px solid #da6e6d;
}

.Weather h1 {
  color: #851a37;
  font-size: 36px;
  font-weight: 400;
  margin: 18px 16px 10px;
  line-height: 30px;
}

.Weather ul {
  margin: 8px;
  padding-left: 16px;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Weather canvas {
  margin: 5px 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  color: #dc3545;
  font-size: 64px;
  line-height: 64px;
  margin-left: 10px;
  font-weight: 400;
}

.Weather .unit {
  color: #e09f8f;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  line-height: 2;
  top: -34px;
}
